@using NeverEmptyPantry.Common.Enum
@using NeverEmptyPantry.Common.Models
@model IEnumerable<ListViewModel>

@if (ViewBag.Errors != null)
{
    foreach (Error error in ViewBag.Errors)
    {
        <span class="text-danger">@error.Code: @error.Description</span>
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditDateTime)
            </th>
            <!-- TODO: add item count and vote count-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.OrderState.Equals(OrderState.LIST_CREATED) && !User.IsInRole("Administrator"))
            {
                continue;
            }
            <tr onclick="goToLocation('@Url.Action("Details", "List", new { id = item.Id })')">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditDateTime)
                </td>
                <!-- TODO: add item count and vote count-->
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you would like to remove this list?');" })
                </td>
            </tr>
        }
    </tbody>
</table>